# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
env/
ENV/
.venv/
.venv/*

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
media/
staticfiles/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
.DS_Store
*.swp
*.swo
*.orig
*.bak
*.tmp

# Environment variables
.env
